<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="Statics/app.css">
</head>
<body style="font-style: Arial;font-weight: bold;">
	<ul>
		<li><a href ='right' target="right" id="a_left">Home</a></li>
		<!-- <li><a href ='https:google.com' target="right" id="a_left">Learning</a></li> -->
		<li><a href ='share_data' target="right" id="a_left">People</a></li>
		<li><a href ='right' target="right" id="a_left">Guide</a></li>
		<li><a href ='#' target="right" id="a_left">About Us</a></li>
		<li><a href='#' target="right" id="a_left">Contact</a></li>
		<li><a href="#" target="right" id="a_left">Help</a></li>
	</ul>
</body>
</html>