<html>
    <body>
        <h1>Login </h1> <small>dummy to check connections</small>
        <form action="loginuser" method="post">
            <input type="text" placeholder="Username" name="username">
            <input type="password" placeholder="Password" name="password">
            <br/>
            <input type="submit">
            <input type="reset">
        </form>
    </body>
</html>